body {
  font-family: "Open Sans", sans-serif;
}

.main-wrapper {
  position: relative;
}

.top-donate {
  background-color: $teal;
  height: 40px;
  font-size: 1.3em;
  font-weight: lighter;

  a, a:hover, a:visited {
    color: white;
  }

  b {
    text-transform: uppercase;
    font-weight: bolder;
  }
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  border: none;
}

.hero-slider {
  overflow: hidden;
}

.carousel {
  .carousel-item {
    max-height: 40vh;
  }
}

#navbar-container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #112F4D60;
  color: white !important;

  li.menu-item {
    padding: 10px 16px;

    a {
      color: white;
    }
  }

  li.menu-item:hover {
    background-color: $orange;
  }

  li.current-menu-item {
    background-color: $orange;
    font-weight: bold;
  }
}
