body {
  font-family: "Open Sans", sans-serif;
}

.top-donate {
  background-color: $teal;
  font-size: 1.3em;
  font-weight: lighter;

  a, a:hover, a:visited {
    color: white;
  }

  b {
    text-transform: uppercase;
  }
}

.carousel-indicators li {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  border: none;
}

.hero-slider {
  overflow: hidden;
}

.carousel {
  .carousel-item {
    max-height: 40vh;
  }
}
